@charset "UTF-8";
.hd {width: 100%; position: fixed; top:0; left: 0; z-index: 999; background-color: transparent; height: 175px; 
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.hd:hover {background-color: #fff;}
.hd_wrap {width: 1200px; margin: 0 auto;}
.logo {display: block; width: 100px; height: auto; margin-top: 20px; margin-bottom: 20px; float: left;}
.logo img {display: block; width: 100%; height: auto;}
.tnb {float: right; margin-top: 40px; margin-bottom: 40px;}
.tnb a{font-size: 14px; color: #333; padding: 1.5em; font-weight:300;}
.tnb a:hover { color:#588824; font-weight:700; text-decoration: underline; }
.gnb { float:left; width: 700px; margin-left: 50px; margin-top: 30px;}
/*clear-fix 처리*/
.gnb:after {content:""; display: block; clear: both;}
.gnb > ul:after {content:""; display: block; clear: both;}
.gnb > ul > li {float: left; width: 16%; height: 40px; line-height: 40px; position: relative;}
.gnb .dp1 {display: block; color: #333; text-align: center; font-size: 18px; font-weight: 600; background-color: transparent;}
.gnb li:hover .dp1 {color: #588824; font-weight: 1000;}
.gnb .sub { display:none; width: 100%; height:auto; position:absolute; top:40px; background-color:#fff;
left: 0; z-index:90; }
.gnb li:hover .sub { display:block; }
.gnb li .sub li { clear:both; height: 30px; line-height: 30px;}
.gnb li .sub li a { background-color:#fff; color:#333; font-size:13px; display:block; text-indent:2em;}
.gnb li .sub li a:hover {color:#588824;font-weight:600;}
.gnb .item1 .sub li a {text-indent:3.4em;}
.gnb .item4 .sub li a {text-indent:2.5em; width: 200px;}